#main svg
	display block
	margin-bottom $line-margin
	path.axis.arrow
		stroke-width 1
	text
		text-anchor middle
		font-style normal
		font-variant normal
		font-weight normal
		font-size 10px
		line-height normal
		font-family MathJax_Math Arial
#main .inactive
		opacity 0.3


colored(color)
	fill $pure(color)
	stroke $dark(color)

#main svg
	text
		font-family: MathJax_Math
	path.arc
		fill none
	path
		stroke black
	.guide
		stroke #cccccc
		stroke-dasharray: 5,5
		fill none
	.teal
		colored($teal)
	.blue
		colored($blue)
	.navy
		colored($navy)
	.violet
		colored($violet)
	.magenta
		colored($magenta)
	.red
		colored($red)
	.orange
		colored($orange)
	.gold
		colored($gold)
	.amber
		colored($amber)
	.yellow
		colored($yellow)
	.celadon
		colored($celadon)
	.green
		colored($green)
