// Custom font faces. Courtesy of the Google web font library.

@font-face
	font-family 'Sonsie One'
	font-style normal
	font-weight 400
	src local('Sonsie One'), url('fonts/sonsie-one.woff') format('woff')

@font-face
	font-family 'Marko One'
	font-style normal
	font-weight 400
	src local('Marko One'), url('fonts/marko-one.woff') format('woff')

@font-face
	font-family 'Roboto'
	font-style normal
	font-weight 400
	src local('Roboto Regular'), url('fonts/roboto.woff') format('woff')

@font-face
	font-family 'Roboto'
	font-style normal
	font-weight 700
	src local('Roboto Bold'), url('fonts/roboto-bold.woff') format('woff')

@font-face
	font-family 'Raleway'
	font-style normal
	font-weight 400
	src local('Raleway Regular'), url('fonts/raleway.woff') format('woff')

@font-face
	font-family 'Raleway'
	font-style normal
	font-weight 700
	src local('Raleway Bold'), url('fonts/raleway-bold.woff') format('woff')

@font-face
	font-family 'PT Mono'
	font-style normal
	font-weight 400
	src: local('PT Mono'), url('fonts/pt-mono.woff') format('woff')
