// Custom font faces. Courtesy of the Google web font library.

@font-face
	font-family 'Sonsie One'
	font-style normal
	font-weight 400
	src local('Sonsie One'), url('fonts/sonsie-one.woff') format('woff')

@font-face
	font-family 'Marko One'
	font-style normal
	font-weight 400
	src local('Marko One'), url('fonts/marko-one.woff') format('woff')

@font-face
	font-family 'Enriqueta'
	font-style normal
	font-weight 400
	src local('Enriqueta'), url('fonts/enriqueta.woff') format('woff')

@font-face
	font-family 'Enriqueta'
	font-style bold
	font-weight 700
	src local('Enriqueta Bold'), url('fonts/enriqueta-bold.woff') format('woff')

@font-face
	font-family 'Math'
	font-style normal
	font-weight 400
	src local('Math'), url('fonts/MathJax_Main-Regular.otf') format('opentype')

@font-face
	font-family 'Math'
	font-style italic
	font-weight 400
	src local('Math Italic'), url('fonts/MathJax_Main-Italic.otf') format('opentype')

@font-face
	font-family 'Math'
	font-style normal
	font-weight 700
	src local('Math Bold'), url('fonts/MathJax_Main-Bold.otf') format('opentype')

@font-face
	font-family 'Math'
	font-style italic
	font-weight 700
	src local('Math Bold Italic'), url('fonts/MathJax_Main-BoldItalic.otf') format('opentype')
