// Custom font faces. Courtesy of the Google web font library.

@font-face
	font-family 'Marko One'
	font-style normal
	font-weight 400
	src local('Marko One'), url('fonts/marko-one.woff') format('woff')

@font-face
	font-family 'Math'
	font-style normal
	font-weight 400
	src local('Math'), url('fonts/MathJax_Main-Regular.otf') format('opentype')

@font-face
	font-family 'Math'
	font-style italic
	font-weight 400
	src local('Math Italic'), url('fonts/MathJax_Main-Italic.otf') format('opentype')

@font-face
	font-family 'Math'
	font-style normal
	font-weight 700
	src local('Math Bold'), url('fonts/MathJax_Main-Bold.otf') format('opentype')

@font-face
	font-family 'Math'
	font-style italic
	font-weight 700
	src local('Math Bold Italic'), url('fonts/MathJax_Main-BoldItalic.otf') format('opentype')

@font-face
	font-family 'Noto Serif'
	font-style normal
	font-weight 400
	src local('Noto Serif'), local('NotoSerif'), url('fonts/NotoSerif.woff') format('woff')

@font-face
	font-family 'Noto Serif'
	font-style normal
	font-weight 700
	src local('Noto Serif Bold'), local('NotoSerif-Bold'), url('fonts/NotoSerif-bold.woff') format('woff')

@font-face
	font-family 'Noto Serif'
	font-style italic
	font-weight 400
	src local('Noto Serif Italic'), local('NotoSerif-Italic'), url('fonts/NotoSerif-italic.woff') format('woff')

@font-face
	font-family 'Noto Serif'
	font-style italic
	font-weight 700
	src local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url('fonts/NotoSerif-bold-italic.woff') format('woff')

@font-face
	font-family 'Alegreya Sans SC'
	font-style normal
	font-weight 700
	src local('Alegreya Sans SC Bold'), local('AlegreyaSansSC-Bold'), url('fonts/AlegreyaSansSC-bold.woff') format('woff')

@font-face
	font-family 'Niconne'
	font-style normal
	font-weight 400
	src local('Niconne'), local('Niconne-Regular'), url('fonts/Niconne.woff') format('woff')

@font-face
	font-family 'Revalia'
	font-style normal
	font-weight 400
	src local('Revalia-Regular'), url('fonts/Revalia.woff') format('woff')
