// Used in the Simplifience logo and the post titles.
$uncomfortable = 'Sonsie One', serif

// Used in the dictionary definition on the home page.
$exciting = 'Marko One', serif

// The main text.
$boring = 'Raleway', arial, sans-serif

$text-size = 14px
$text-color = black
$background-color = white
$line-size = 20px
$line-margin = $line-size
$main-header-size = $text-size * 3
$content-header-size = $text-size * 2
$commentary-padding = ($line-size / 2) 5%
