@import '_colors'

commentary(class, color, complement)
	body.{class}
		background $pure(color)
		color $text(color)

		::selection
			background-color $pale(color)
			color $text(color)

		div.cap
			background $pure(color)
			color $text(color)

		#header
			h1 a
				color $text(color)
				&:visited, &:active, &:hover
					color $text(color)
			.definition
				color $contrast(color)
				li
					color $text(color)
			.pronunciation
				color $dark(color)

		div.content article a
			color $pure(color)
			&:active
				color $light(color)
			&:visited
				color $dark(color)
			&:hover
				color $pure(color)
			&.stub
				color $pure(complement)
				&:visited
					color $dark(complement)
				&.missing
					background $pure(complement)
					color $pure(color)

		div.nav
			h1, h2, h3, h4, h5, h6
				color $dark(color)
			aside
				background $pure(color)
				border-color $dark(color)
				color $text(color)
			a
				color $contrast(color, complement)
				&:active
					color $pure(complement)
				&:visited
					color $contrast(color)

		footer h1.logo a, footer a.author
			color $dark(color)

	span.{class}, strong.{class}, em.{class}
		color $pure(color)
	body.{class}
		span.info, strong.info, em.info
			color $pure(color)

	#main aside.{class},
	#main div.{class},
	body.{class} #main aside.info,
	body.{class} div.info
		background $pure(color)
		border-color $dark(color)
		color $text(color)
		h1, h2, h3, h4, h5, h6
			color $contrast(color, complement)
		a
			color $pure(complement)
			if $isdark(color)
				text-shadow 1px 1px 1px $dark(color)
			else
				text-shadow 1px 1px 1px $light(color)
			&:visited
				color $text(color)
			&.stub
				color $contrast(color)
				&.missing
					background $pure(complement)
					color $pure(color)
		.MathJax
			color $text(color) !important

main = $teal
complement = $orange

// Color themes
commentary('main', $teal, $orange)
commentary('rules', $blue, $gold)
commentary('rigor', $navy, $amber)
commentary('simplifience', $violet, $yellow)
commentary('knowledge', $magenta, $amber)
commentary('rant', $red, $amber)
commentary('stub', $orange, $teal)
commentary('caution', $yellow, $navy)
commentary('define', $green, $violet)
commentary('computer', $solarized, $solarized-hi)

// Red logo is white.
body.rant #header h1.title a
	color white


// Yellow is too light.
span.caution, strong.caution, em.caution
	color $dark($yellow)

// Computer is monospaced.
span.computer, strong.computer, em.computer,
body.computer span.info,
body.computer strong.info,
body.computer em.info,
#main aside.computer,
#main div.computer,
body.computer #main aside.info,
body.computer div.info,
body.computer div.nav aside a,
body.computer div.nav h3,
body.computer #header .definition,
body.computer #main article > p a
	font-family 'PT Mono', monospace
body.computer #main article > p a
	color $pale($solarized-hi)
	&.stub
		color $pure($solarized-hi)
		&:visited
			color $light($solarized-hi)
	&:visited
		color $pale($solarized)
body #main aside.computer,
body #main div.computer,
html body.computer #main aside.info,
html body.computer div.info
	a
		text-shadow 1px 1px 1px $pure($solarized)


// Simplifience unvisited stub is too light.
body.simplifience div.content article a.stub
		color $dark(complement)


// Define has a line break after the first <em>.
aside.define
	em:first-of-type:after
		content "\a"
		white-space pre
