@import '_colors'

theme-body(color, complement)
	background $pure(color)
	color $text(color)
	::selection
			background-color $pale(color)
			color $text(color)
	#main-container
		border-color $dark(color)

theme-header(color, complement)
	h1 a
		color $text(color)
		&:visited, &:active, &:hover
			color $text(color)
	.definition
		color $contrast(color)
		li
			color $text(color)
	.pronunciation
		color $dark(color)

theme-links(color, complement)
	&.stub
		color $pure(complement)
		&:visited
			color $dark(complement)
		&.missing
			background $pure(complement)
			color $pure(color)

theme-nav(color, complement)
	h3
		color $pure(complement)
	aside.info a
		color $text(color)
		text-decoration none
		&:visited
			color $contrast(color)
		&:hover
			text-decoration underline

theme-notice(color, complement)
	color $pure(color)

theme-commentary(color, complement)
	background $pure(color)
	border-color $dark(color)
	color $text(color)
	h1, h2, h3, h4, h5, h6
		color $contrast(color, complement)
	.MathJax
		color $text(color) !important
	a
		color $text(color)
		&:hover
			color $text(color)
		if $isdark(color)
			text-shadow 1px 1px 1px $dark(color)
		else
			text-shadow 1px 1px 1px $light(color)
		&:visited, &:visited:hover
			color $contrast(color)
		&.stub
			color $pure(complement)
			&.missing
				background $pure(complement)
				color $pure(color)
			&:visited, &:visited:hover
				color $contrast(color, complement)

theme-footer(color, complement)
	h1.logo a, a.author
		color $dark(color)
	aside
		h3
			color $pure(complement)
			text-shadow 1px 1px 1px $dark(color, complement)
		li
			color $contrast(color)
		a
			color $text(color)
			text-decoration none
			&:visited
				color $contrast(color)
			&:hover
				text-decoration underline

theme-meditation(color, complement)
	#meditating
		background-color white
	#main form.meditate
		background-color white
	#main p a.meditation, #main form.meditate button.proceed
		background $pure(color)
		border-color $dark(color)
		color $text(color)
		&:hover
			background $dark(color)
			border-color $pure(color)
			color $contrast(color)
		&:active
			border-color $pure(color)
			color $pure(color)
	#main form.meditate
		textarea
			border-color #EEE
		textarea, button
			&:focus
				outline-color $pure(color)

theme(class, color, complement)
	body.{class}
		theme-body(color, complement)
		theme-meditation(color, complement)
		#header
			theme-header(color, complement)
		#main a
			theme-links(color, complement)
		#main div.nav
			theme-nav(color, complement)
		footer
			theme-footer(color, complement)
	body #main aside.{class}, body.{class} #main aside.info,
	body #main div.{class}, body.{class} div.info
		theme-commentary(color, complement)
	body span.{class}, body.{class} span.info,
	body strong.{class}, body.{class} strong.info,
	body em.{class}, body.{class} em.info
		theme-notice(color, complement)

main = $teal
complement = $orange

// Color themes
theme('main', $teal, $orange)
theme('rules', $blue, $gold)
theme('rigor', $navy, $amber)
theme('simplifience', $violet, $yellow)
theme('knowledge', $magenta, $amber)
theme('rant', $red, $amber)
theme('stub', $orange, $teal)
theme('caution', $yellow, $navy)
theme('define', $green, $violet)
theme('computer', $solarized, $solarized-hi)

// Red logo is white.
body.rant #header h1.title a
	color white

// Red stubs look bad.
body.rant #main a.stub
body.rant #main aside.info a.stub
body.rant #main div.info a.stub
body #main aside.rant a.stub
body #main div.rant a.stub
	color $pure($gold)
	&:visited
		color $pale($gold)


// Yellow text is too light.
span.caution, body.caution span.info,
strong.caution, body.caution strong.info,
em.caution, body.caution em.info
	color $dark($yellow)


// Blue text is too dark.
span.rules, body.rules span.info,
strong.rules, body.rules strong.info,
em.rules, body.rules em.info
	color $light($blue)

// Computer text is monospaced.
span.computer, body.computer span.info,
strong.computer, body.computer strong.info,
em.computer, body.computer em.info
#main aside.computer, body.computer #main aside.info,
#main div.computer, body.computer div.info,
body.computer #header .definition,
body.computer #main article > p a
	font-family 'PT Mono', monospace

// Computer stubs are red.
body.computer #main article > p a
	color $pale($solarized-hi)
	&.stub
		color $pure($solarized-hi)
		&:visited
			color $light($solarized-hi)
	&:visited
		color $pale($solarized)

// Computer text shadow is gray.
body #main aside.computer, html body.computer #main aside.info,
body #main div.computer, html body.computer div.info
	a
		text-shadow 1px 1px 1px $pure($solarized)

// Simplifience unvisited stubs are too light.
body.simplifience #main a.stub
	color $pure($gold)
	&:visited
		color $dark($gold)

// Science unvisited stubs are too light.
body.knowledge #main a.stub
	color $pure($gold)
	&:visited
		color $dark($gold)

// Definitions have a line break after the first <em>.
aside.define
	em:first-of-type:after
		content "\a"
		white-space pre
