pure_blue = #1240AB
flat_blue = #2A4480
dark_blue = #06266F
light_blue = #4671D5
pale_blue = #6C8CD5

pure_navy = #3914AF
flat_navy = #412C84
dark_navy = #200772
light_navy = #6A48D7
pale_navy = #876ED7

pure_violet = #7109AA
flat_violet = #5F2580
dark_violet = #48036F
light_violet = #9F3ED5
pale_violet = #AD66D5

pure_magenta = #CD0074
flat_magenta = #992667
dark_magenta = #85004B
light_magenta = #E6399B
pale_magenta = #E667AF

pure_red = #FF0000
flat_red = #BF3030
dark_red = #A60000
light_red = #FF4040
pale_red = #FF7373

pure_orange = #FF7400
flat_orange = #BF7130
dark_orange = #A64B00
light_orange = #FF9640
pale_orange = #FFB273

pure_gold = #FFAA00
flat_gold = #BF8F30
dark_gold = #A66F00
light_gold = #FFBF40
pale_gold = #FFD073

pure_amber = #FFD300
flat_amber = #BFA730
dark_amber = #A68900
light_amber = #FFDE40
pale_amber = #FFE773

pure_yellow = #FFFF00
flat_yellow = #BFBF30
dark_yellow = #A6A600
light_yellow = #FFFF40
pale_yellow = #FFFF73

pure_celadon = #9FEE00
flat_celadon = #86B32D
dark_celadon = #679B00
light_celadon = #B9F73E
pale_celadon = #C9F76F

pure_green = #00CC00
flat_green = #269926
dark_green = #008500
light_green = #39E639
pale_green = #67E667

pure_teal = #009999
flat_teal = #1D7373
dark_teal = #006363
light_teal = #33CCCC
pale_teal = #5CCCCC
