div.content
	color black
	background white
	article
		margin-bottom line-size
		h1
			font-size 2em
	aside
		margin-bottom line-margin
	a
		color main
		text-decoration underline
		&:active
			color main_light
		&:visited
			color main_dark
		&:hover
			color main
			text-decoration none
		&[href="/stub.html"]
			color dark_red !important

aside.define
	em:first-of-type:after
		content "\a"
		white-space pre
