div.nav
	aside
		color white
		background main
		font-family exciting
		padding-top 0
		ul, ol
			list-style none
			margin 0
			padding 0
		a
			color main_pale
			text-decoration none
			&:active
				color complement_pale
			&:visited
				color complement_light
			&:hover
				color complement
