#main
	article
		width auto
		float auto
	div.navigator
		a
			text-decoration none
		ul
			list-style none
		li
			text-align left

#fin
	display block
	font-size 2em
	margin 0 auto
	opacity .6
	text-align center
	clear both
