// Used in the Simplifience logo and the post titles.
uncomfortable = 'Sonsie One', serif

// Used in the dictionary definition on the home page.
exciting = 'Marko One', serif

// The main text.
boring = 'Raleway', sans-serif

text-size = 16px
line-size = 28px
line-margin = line-size * 0.5
