/* Many thanks to Jonathan Verrecchia & initializr's template.
 * http://verekia.com/initializr/responsive-template */

@import '_fonts'
@import '_theme'
@import '_rules'
@import '_helpers'

html, body
	font $text-size/$line-size $boring
	margin 0
	padding 0

::selection
	text-shadow none

.wrapper
	width: 90%
	margin: 0 5%

#main-container
	color $text-color
	background $background-color
	border-width 0
	border-top-width $border-width
	border-bottom-width $border-width
	border-style solid

div.cap
	text-align center
	h1
		font-family $uncomfortable
		font-weight normal
		font-size $main-header-size
		&.title
			float left
		a
			text-decoration none
	.definition
		display inline-block
		padding-bottom $line-size
		text-align left
		.pronunciation
			font-family boring
			padding-left: 1ex
		ol
			margin 0
			padding 0
			padding-left 1ex
			display inline
		li
			display inline
	footer
		overflow auto
		text-align left
		box-sizing border-box
		padding-bottom $line-margin
		margin-bottom 12em
		aside
			float left
			border-width 0
			padding-right 3em
			h3
				margin-top 1em
				margin-bottom .5em
			ul, ol
				text-align left
			ol
				list-style none
				li.current
					list-style-type disc
		h1.logo, a.author
			float right
			clear right
		h1.logo
			font-size $text-size * 2
			margin-bottom 0
		a.author
			display block
			margin-top $text-size * .5
		a.author, .logo a
			opacity .4
			text-decoration none
			&:hover
				opacity 1

#main
	padding 30px 0
	article
		clear both
		margin-bottom $line-size
		h1
			font-size $content-header-size
		ul, ol
			margin 0
			margin-bottom $line-size
			padding-left 2.5em
			padding-right 1em
			box-sizing border-box
		blockquote
			box-sizing border-box
			font-style italic
			margin 0
			padding-left 1em
			padding-right 1em
		p.number
			line-height 2em
			font-size 4em
			text-align center
			margin-bottom 12px
			.MathJax_Preview
				font-size .25em
			&:empty
				font-size 2em
		p.big
			font-size 4em
			font-family $uncomfortable
			line-height 2em
			text-align center
			margin-bottom $text-size * 1.5
	img
		display block
		margin 0 auto
		max-width 100%
	a
		text-decoration underline
		.MathJax, .MathJax nobr, .MathJax span
			text-decoration underline
		&:hover
			text-decoration none
			.MathJax, .MathJax nobr, .MathJax span
				text-decoration none

iframe
	border 0
	margin-bottom $line-size

p
	line-height $line-size
	margin-bottom $line-margin
	margin-top 0

// Don't want to add a common class here, because I type these divs by hand
// pretty frequently and would rather save the typing those many times than
// this once.
aside,
div.info, div.rules, div.rigor,
div.simplifience, div.knowledge, div.stub
div.rant, div.caution, div.define, div.computer
	padding $commentary-padding
	border-style solid
	border-width $border-width
	margin-bottom $line-margin
	overflow auto
	p:last-child
		margin-bottom 0
	ul, ol
		list-style none
		margin 0
		padding 0

#main div.nav
	text-align right
	h3
		margin 0
		font-size: $text-size
		cursor default
	aside ul
		font-family $exciting
		text-align left
		margin 0
		padding 0
	a
		font-size $text-size * 1.2
		line-height $line-size * 1.2
		text-decoration none
		&:hover
			text-decoration underline

#main > article > div.asides > aside
	width 100%

#main *
	box-sizing border-box

hr.mark
	clear both
	background none
	border none

#main > article > table
	td:first-child
		border-right 1px solid black
	td:not(:last-child), th:not(:last-child)
		padding-right 1em
	td:not(:first-child), th:not(:first-child)
		padding-left 1em
	margin-bottom $line-margin

#stub
	margin-bottom $line-margin

@import '_diagram'
@import '_reactive'
@import '_meditation'
