@import colors

note(class, text_color, body_color, border_color,
	converse, contrast_color = white)

	span.{class}, strong.{class}, em.{class}
		color text_color

	#main aside.{class}
		background body_color
		border 2px solid border_color
		color contrast_color

		a
			color border_color
			opacity 1
			&:hover
				text-decoration none
			&[href="/stub.html"]
				color converse !important

		.MathJax
			color contrast_color !important


// -----------------------------------------------------------------------------
// Color scheme. Currently: Complementary teal.

main = pure_teal
main_light = light_teal
main_pale = pale_teal
main_flat = flat_teal
main_dark = dark_teal

complement = pure_orange
complement_flat = flat_orange
complement_dark = dark_orange
complement_light = light_orange
complement_pale = pale_orange


// -----------------------------------------------------------------------------
// Named colors.


info = pure_teal
info_light = light_teal
info_pale = pale_teal
info_flat = flat_teal
info_dark = dark_teal
note('info', info, info_light, info_dark, dark_orange, black)

maths = pure_blue
maths_light = light_blue
maths_pale = pale_blue
maths_flat = flat_blue
maths_dark = dark_blue
note('maths', maths, maths_light, maths_dark, pure_gold)

rigor = pure_navy
rigor_light = light_navy
rigor_pale = pale_navy
rigor_flat = flat_navy
rigor_dark = dark_navy
note('rigor', rigor, rigor_light, rigor_dark, pure_amber)

simplifience = pure_violet
simplifience_light = light_violet
simplifience_pale = pale_violet
simplifience_flat = flat_violet
simplifience_dark = dark_violet
note('simplifience', simplifience, simplifience_light, simplifience_dark,
	pure_yellow)

science = pure_magenta
science_light = light_magenta
science_pale = pale_magenta
science_flat = flat_magenta
science_dark = dark_magenta
note('science', science, science_light, science_dark, pure_celadon)

wrong = pure_red
wrong_light = light_red
wrong_pale = pale_red
wrong_flat = flat_red
wrong_dark = dark_red
note('wrong', wrong, wrong_light, wrong_dark, pure_green)

caution = pure_yellow
caution_light = light_yellow
caution_pale = pale_yellow
caution_flat = flat_yellow
caution_dark = dark_yellow
note('caution', caution_flat, caution_light, caution_dark, pure_violet, black)

other = pure_orange
other_light = light_orange
other_pale = pale_orange
other_flat = flat_orange
other_dark = dark_orange
note('other', other_flat, other_light, other_dark, pure_teal, black)

define = pure_green
define_light = light_green
define_pale = pale_green
define_flat = flat_green
define_dark = dark_green
note('define', define, define_light, define_dark, pure_red, black)
