div.cap {
  text-align: center;
}
div.cap h1 {
  font-family: uncomfortable;
  font-weight: normal;
  color: #fff;
}
div.cap h1.title {
  float: left;
}
div.cap h1 a {
  text-decoration: none;
  color: #fff;
}
div.cap h1 avisited,
div.cap h1 aactive,
div.cap h1 ahover {
  color: #fff;
}
div.cap .definition {
  color: main_light;
  display: inline-block;
  padding-bottom: line-size;
  text-align: left;
}
div.cap .definition .pronunciation {
  color: main_dark;
  font-family: boring;
  padding-left: 1ex;
}
div.cap .definition ol {
  margin: 0;
  padding: 0;
  padding-left: 1ex;
  display: inline;
}
div.cap .definition li {
  display: inline;
  color: #fff;
}
div.cap footer {
  overflow: auto;
  text-align: left;
  box-sizing: border-box;
}
div.cap footer aside {
  float: left;
}
div.cap footer a.author,
div.cap footer .logo a {
  clear: right;
  color: main_pale;
  float: right;
  opacity: 0.4;
  text-decoration: none;
}
div.cap footer a.author:visited,
div.cap footer .logo a:visited {
  color: main_dark;
}
div.cap footer a.author:active,
div.cap footer .logo a:active {
  color: complement;
}
div.cap footer a.author:hover,
div.cap footer .logo a:hover {
  opacity: 1;
}
