/* Many thanks to Jonathan Verrecchia & initializr's template.
 * http://verekia.com/initializr/responsive-template */
@font-face {
  font-family: 'Sonsie One';
  font-style: normal;
  font-weight: 400;
  src: local('Sonsie One'), url("fonts/sonsie-one.woff") format('woff');
}
@font-face {
  font-family: 'Marko One';
  font-style: normal;
  font-weight: 400;
  src: local('Marko One'), url("fonts/marko-one.woff") format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url("fonts/ubuntu.woff") format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: bold;
  font-weight: 700;
  src: local('Ubuntu Bold'), url("fonts/ubuntu-bold.woff") format('woff');
}
body.main {
  background: #099;
  color: #fff;
}
body.main ::selection {
  background-color: #5ccccc;
  color: #fff;
}
body.main div.cap {
  background: #099;
  color: #fff;
}
body.main #header h1 a {
  color: #fff;
}
body.main #header h1 a:visited,
body.main #header h1 a:active,
body.main #header h1 a:hover {
  color: #fff;
}
body.main #header .definition {
  color: #5ccccc;
}
body.main #header .definition li {
  color: #fff;
}
body.main #header .pronunciation {
  color: #006363;
}
body.main div.content article a {
  color: #099;
}
body.main div.content article a:active {
  color: #3cc;
}
body.main div.content article a:visited {
  color: #006363;
}
body.main div.content article a:hover {
  color: #099;
}
body.main div.content article a.stub {
  color: #ff7400;
}
body.main div.content article a.stub:visited {
  color: #a64b00;
}
body.main div.content article a.stub.missing {
  background: #ff7400;
  color: #099;
}
body.main div.nav h1,
body.main div.nav h2,
body.main div.nav h3,
body.main div.nav h4,
body.main div.nav h5,
body.main div.nav h6 {
  color: #006363;
}
body.main div.nav aside {
  background: #099;
  border-color: #006363;
  color: #fff;
}
body.main div.nav a {
  color: #ffb273;
}
body.main div.nav a:active {
  color: #ff7400;
}
body.main div.nav a:visited {
  color: #5ccccc;
}
body.main footer h1.logo a,
body.main footer a.author {
  color: #006363;
}
span.main,
strong.main,
em.main {
  color: #099;
}
body.main span.info,
body.main strong.info,
body.main em.info {
  color: #099;
}
#main aside.main,
#main div.main,
body.main #main aside.info,
body.main div.info {
  background: #099;
  border-color: #006363;
  color: #fff;
}
#main aside.main h1,
#main div.main h1,
body.main #main aside.info h1,
body.main div.info h1,
#main aside.main h2,
#main div.main h2,
body.main #main aside.info h2,
body.main div.info h2,
#main aside.main h3,
#main div.main h3,
body.main #main aside.info h3,
body.main div.info h3,
#main aside.main h4,
#main div.main h4,
body.main #main aside.info h4,
body.main div.info h4,
#main aside.main h5,
#main div.main h5,
body.main #main aside.info h5,
body.main div.info h5,
#main aside.main h6,
#main div.main h6,
body.main #main aside.info h6,
body.main div.info h6 {
  color: #ffb273;
}
#main aside.main a,
#main div.main a,
body.main #main aside.info a,
body.main div.info a {
  color: #ff7400;
  text-shadow: 1px 1px 1px #006363;
}
#main aside.main a:visited,
#main div.main a:visited,
body.main #main aside.info a:visited,
body.main div.info a:visited {
  color: #fff;
}
#main aside.main a.stub,
#main div.main a.stub,
body.main #main aside.info a.stub,
body.main div.info a.stub {
  color: #5ccccc;
}
#main aside.main a.stub.missing,
#main div.main a.stub.missing,
body.main #main aside.info a.stub.missing,
body.main div.info a.stub.missing {
  background: #ff7400;
  color: #099;
}
#main aside.main .MathJax,
#main div.main .MathJax,
body.main #main aside.info .MathJax,
body.main div.info .MathJax {
  color: #fff !important;
}
body.rules {
  background: #1240ab;
  color: #fff;
}
body.rules ::selection {
  background-color: #6c8cd5;
  color: #fff;
}
body.rules div.cap {
  background: #1240ab;
  color: #fff;
}
body.rules #header h1 a {
  color: #fff;
}
body.rules #header h1 a:visited,
body.rules #header h1 a:active,
body.rules #header h1 a:hover {
  color: #fff;
}
body.rules #header .definition {
  color: #6c8cd5;
}
body.rules #header .definition li {
  color: #fff;
}
body.rules #header .pronunciation {
  color: #06266f;
}
body.rules div.content article a {
  color: #1240ab;
}
body.rules div.content article a:active {
  color: #4671d5;
}
body.rules div.content article a:visited {
  color: #06266f;
}
body.rules div.content article a:hover {
  color: #1240ab;
}
body.rules div.content article a.stub {
  color: #fa0;
}
body.rules div.content article a.stub:visited {
  color: #a66f00;
}
body.rules div.content article a.stub.missing {
  background: #fa0;
  color: #1240ab;
}
body.rules div.nav h1,
body.rules div.nav h2,
body.rules div.nav h3,
body.rules div.nav h4,
body.rules div.nav h5,
body.rules div.nav h6 {
  color: #06266f;
}
body.rules div.nav aside {
  background: #1240ab;
  border-color: #06266f;
  color: #fff;
}
body.rules div.nav a {
  color: #ffd073;
}
body.rules div.nav a:active {
  color: #fa0;
}
body.rules div.nav a:visited {
  color: #6c8cd5;
}
body.rules footer h1.logo a,
body.rules footer a.author {
  color: #06266f;
}
span.rules,
strong.rules,
em.rules {
  color: #1240ab;
}
body.rules span.info,
body.rules strong.info,
body.rules em.info {
  color: #1240ab;
}
#main aside.rules,
#main div.rules,
body.rules #main aside.info,
body.rules div.info {
  background: #1240ab;
  border-color: #06266f;
  color: #fff;
}
#main aside.rules h1,
#main div.rules h1,
body.rules #main aside.info h1,
body.rules div.info h1,
#main aside.rules h2,
#main div.rules h2,
body.rules #main aside.info h2,
body.rules div.info h2,
#main aside.rules h3,
#main div.rules h3,
body.rules #main aside.info h3,
body.rules div.info h3,
#main aside.rules h4,
#main div.rules h4,
body.rules #main aside.info h4,
body.rules div.info h4,
#main aside.rules h5,
#main div.rules h5,
body.rules #main aside.info h5,
body.rules div.info h5,
#main aside.rules h6,
#main div.rules h6,
body.rules #main aside.info h6,
body.rules div.info h6 {
  color: #ffd073;
}
#main aside.rules a,
#main div.rules a,
body.rules #main aside.info a,
body.rules div.info a {
  color: #fa0;
  text-shadow: 1px 1px 1px #06266f;
}
#main aside.rules a:visited,
#main div.rules a:visited,
body.rules #main aside.info a:visited,
body.rules div.info a:visited {
  color: #fff;
}
#main aside.rules a.stub,
#main div.rules a.stub,
body.rules #main aside.info a.stub,
body.rules div.info a.stub {
  color: #6c8cd5;
}
#main aside.rules a.stub.missing,
#main div.rules a.stub.missing,
body.rules #main aside.info a.stub.missing,
body.rules div.info a.stub.missing {
  background: #fa0;
  color: #1240ab;
}
#main aside.rules .MathJax,
#main div.rules .MathJax,
body.rules #main aside.info .MathJax,
body.rules div.info .MathJax {
  color: #fff !important;
}
body.rigor {
  background: #3914af;
  color: #fff;
}
body.rigor ::selection {
  background-color: #876ed7;
  color: #fff;
}
body.rigor div.cap {
  background: #3914af;
  color: #fff;
}
body.rigor #header h1 a {
  color: #fff;
}
body.rigor #header h1 a:visited,
body.rigor #header h1 a:active,
body.rigor #header h1 a:hover {
  color: #fff;
}
body.rigor #header .definition {
  color: #876ed7;
}
body.rigor #header .definition li {
  color: #fff;
}
body.rigor #header .pronunciation {
  color: #200772;
}
body.rigor div.content article a {
  color: #3914af;
}
body.rigor div.content article a:active {
  color: #6a48d7;
}
body.rigor div.content article a:visited {
  color: #200772;
}
body.rigor div.content article a:hover {
  color: #3914af;
}
body.rigor div.content article a.stub {
  color: #ffd300;
}
body.rigor div.content article a.stub:visited {
  color: #a68900;
}
body.rigor div.content article a.stub.missing {
  background: #ffd300;
  color: #3914af;
}
body.rigor div.nav h1,
body.rigor div.nav h2,
body.rigor div.nav h3,
body.rigor div.nav h4,
body.rigor div.nav h5,
body.rigor div.nav h6 {
  color: #200772;
}
body.rigor div.nav aside {
  background: #3914af;
  border-color: #200772;
  color: #fff;
}
body.rigor div.nav a {
  color: #ffe773;
}
body.rigor div.nav a:active {
  color: #ffd300;
}
body.rigor div.nav a:visited {
  color: #876ed7;
}
body.rigor footer h1.logo a,
body.rigor footer a.author {
  color: #200772;
}
span.rigor,
strong.rigor,
em.rigor {
  color: #3914af;
}
body.rigor span.info,
body.rigor strong.info,
body.rigor em.info {
  color: #3914af;
}
#main aside.rigor,
#main div.rigor,
body.rigor #main aside.info,
body.rigor div.info {
  background: #3914af;
  border-color: #200772;
  color: #fff;
}
#main aside.rigor h1,
#main div.rigor h1,
body.rigor #main aside.info h1,
body.rigor div.info h1,
#main aside.rigor h2,
#main div.rigor h2,
body.rigor #main aside.info h2,
body.rigor div.info h2,
#main aside.rigor h3,
#main div.rigor h3,
body.rigor #main aside.info h3,
body.rigor div.info h3,
#main aside.rigor h4,
#main div.rigor h4,
body.rigor #main aside.info h4,
body.rigor div.info h4,
#main aside.rigor h5,
#main div.rigor h5,
body.rigor #main aside.info h5,
body.rigor div.info h5,
#main aside.rigor h6,
#main div.rigor h6,
body.rigor #main aside.info h6,
body.rigor div.info h6 {
  color: #ffe773;
}
#main aside.rigor a,
#main div.rigor a,
body.rigor #main aside.info a,
body.rigor div.info a {
  color: #ffd300;
  text-shadow: 1px 1px 1px #200772;
}
#main aside.rigor a:visited,
#main div.rigor a:visited,
body.rigor #main aside.info a:visited,
body.rigor div.info a:visited {
  color: #fff;
}
#main aside.rigor a.stub,
#main div.rigor a.stub,
body.rigor #main aside.info a.stub,
body.rigor div.info a.stub {
  color: #876ed7;
}
#main aside.rigor a.stub.missing,
#main div.rigor a.stub.missing,
body.rigor #main aside.info a.stub.missing,
body.rigor div.info a.stub.missing {
  background: #ffd300;
  color: #3914af;
}
#main aside.rigor .MathJax,
#main div.rigor .MathJax,
body.rigor #main aside.info .MathJax,
body.rigor div.info .MathJax {
  color: #fff !important;
}
body.simplifience {
  background: #7109aa;
  color: #fff;
}
body.simplifience ::selection {
  background-color: #ad66d5;
  color: #fff;
}
body.simplifience div.cap {
  background: #7109aa;
  color: #fff;
}
body.simplifience #header h1 a {
  color: #fff;
}
body.simplifience #header h1 a:visited,
body.simplifience #header h1 a:active,
body.simplifience #header h1 a:hover {
  color: #fff;
}
body.simplifience #header .definition {
  color: #ad66d5;
}
body.simplifience #header .definition li {
  color: #fff;
}
body.simplifience #header .pronunciation {
  color: #48036f;
}
body.simplifience div.content article a {
  color: #7109aa;
}
body.simplifience div.content article a:active {
  color: #9f3ed5;
}
body.simplifience div.content article a:visited {
  color: #48036f;
}
body.simplifience div.content article a:hover {
  color: #7109aa;
}
body.simplifience div.content article a.stub {
  color: #ff0;
}
body.simplifience div.content article a.stub:visited {
  color: #a6a600;
}
body.simplifience div.content article a.stub.missing {
  background: #ff0;
  color: #7109aa;
}
body.simplifience div.nav h1,
body.simplifience div.nav h2,
body.simplifience div.nav h3,
body.simplifience div.nav h4,
body.simplifience div.nav h5,
body.simplifience div.nav h6 {
  color: #48036f;
}
body.simplifience div.nav aside {
  background: #7109aa;
  border-color: #48036f;
  color: #fff;
}
body.simplifience div.nav a {
  color: #ffff73;
}
body.simplifience div.nav a:active {
  color: #ff0;
}
body.simplifience div.nav a:visited {
  color: #ad66d5;
}
body.simplifience footer h1.logo a,
body.simplifience footer a.author {
  color: #48036f;
}
span.simplifience,
strong.simplifience,
em.simplifience {
  color: #7109aa;
}
body.simplifience span.info,
body.simplifience strong.info,
body.simplifience em.info {
  color: #7109aa;
}
#main aside.simplifience,
#main div.simplifience,
body.simplifience #main aside.info,
body.simplifience div.info {
  background: #7109aa;
  border-color: #48036f;
  color: #fff;
}
#main aside.simplifience h1,
#main div.simplifience h1,
body.simplifience #main aside.info h1,
body.simplifience div.info h1,
#main aside.simplifience h2,
#main div.simplifience h2,
body.simplifience #main aside.info h2,
body.simplifience div.info h2,
#main aside.simplifience h3,
#main div.simplifience h3,
body.simplifience #main aside.info h3,
body.simplifience div.info h3,
#main aside.simplifience h4,
#main div.simplifience h4,
body.simplifience #main aside.info h4,
body.simplifience div.info h4,
#main aside.simplifience h5,
#main div.simplifience h5,
body.simplifience #main aside.info h5,
body.simplifience div.info h5,
#main aside.simplifience h6,
#main div.simplifience h6,
body.simplifience #main aside.info h6,
body.simplifience div.info h6 {
  color: #ffff73;
}
#main aside.simplifience a,
#main div.simplifience a,
body.simplifience #main aside.info a,
body.simplifience div.info a {
  color: #ff0;
  text-shadow: 1px 1px 1px #48036f;
}
#main aside.simplifience a:visited,
#main div.simplifience a:visited,
body.simplifience #main aside.info a:visited,
body.simplifience div.info a:visited {
  color: #fff;
}
#main aside.simplifience a.stub,
#main div.simplifience a.stub,
body.simplifience #main aside.info a.stub,
body.simplifience div.info a.stub {
  color: #ad66d5;
}
#main aside.simplifience a.stub.missing,
#main div.simplifience a.stub.missing,
body.simplifience #main aside.info a.stub.missing,
body.simplifience div.info a.stub.missing {
  background: #ff0;
  color: #7109aa;
}
#main aside.simplifience .MathJax,
#main div.simplifience .MathJax,
body.simplifience #main aside.info .MathJax,
body.simplifience div.info .MathJax {
  color: #fff !important;
}
body.knowledge {
  background: #cd0074;
  color: #fff;
}
body.knowledge ::selection {
  background-color: #e667af;
  color: #fff;
}
body.knowledge div.cap {
  background: #cd0074;
  color: #fff;
}
body.knowledge #header h1 a {
  color: #fff;
}
body.knowledge #header h1 a:visited,
body.knowledge #header h1 a:active,
body.knowledge #header h1 a:hover {
  color: #fff;
}
body.knowledge #header .definition {
  color: #e667af;
}
body.knowledge #header .definition li {
  color: #fff;
}
body.knowledge #header .pronunciation {
  color: #85004b;
}
body.knowledge div.content article a {
  color: #cd0074;
}
body.knowledge div.content article a:active {
  color: #e6399b;
}
body.knowledge div.content article a:visited {
  color: #85004b;
}
body.knowledge div.content article a:hover {
  color: #cd0074;
}
body.knowledge div.content article a.stub {
  color: #ffd300;
}
body.knowledge div.content article a.stub:visited {
  color: #a68900;
}
body.knowledge div.content article a.stub.missing {
  background: #ffd300;
  color: #cd0074;
}
body.knowledge div.nav h1,
body.knowledge div.nav h2,
body.knowledge div.nav h3,
body.knowledge div.nav h4,
body.knowledge div.nav h5,
body.knowledge div.nav h6 {
  color: #85004b;
}
body.knowledge div.nav aside {
  background: #cd0074;
  border-color: #85004b;
  color: #fff;
}
body.knowledge div.nav a {
  color: #ffe773;
}
body.knowledge div.nav a:active {
  color: #ffd300;
}
body.knowledge div.nav a:visited {
  color: #e667af;
}
body.knowledge footer h1.logo a,
body.knowledge footer a.author {
  color: #85004b;
}
span.knowledge,
strong.knowledge,
em.knowledge {
  color: #cd0074;
}
body.knowledge span.info,
body.knowledge strong.info,
body.knowledge em.info {
  color: #cd0074;
}
#main aside.knowledge,
#main div.knowledge,
body.knowledge #main aside.info,
body.knowledge div.info {
  background: #cd0074;
  border-color: #85004b;
  color: #fff;
}
#main aside.knowledge h1,
#main div.knowledge h1,
body.knowledge #main aside.info h1,
body.knowledge div.info h1,
#main aside.knowledge h2,
#main div.knowledge h2,
body.knowledge #main aside.info h2,
body.knowledge div.info h2,
#main aside.knowledge h3,
#main div.knowledge h3,
body.knowledge #main aside.info h3,
body.knowledge div.info h3,
#main aside.knowledge h4,
#main div.knowledge h4,
body.knowledge #main aside.info h4,
body.knowledge div.info h4,
#main aside.knowledge h5,
#main div.knowledge h5,
body.knowledge #main aside.info h5,
body.knowledge div.info h5,
#main aside.knowledge h6,
#main div.knowledge h6,
body.knowledge #main aside.info h6,
body.knowledge div.info h6 {
  color: #ffe773;
}
#main aside.knowledge a,
#main div.knowledge a,
body.knowledge #main aside.info a,
body.knowledge div.info a {
  color: #ffd300;
  text-shadow: 1px 1px 1px #85004b;
}
#main aside.knowledge a:visited,
#main div.knowledge a:visited,
body.knowledge #main aside.info a:visited,
body.knowledge div.info a:visited {
  color: #fff;
}
#main aside.knowledge a.stub,
#main div.knowledge a.stub,
body.knowledge #main aside.info a.stub,
body.knowledge div.info a.stub {
  color: #e667af;
}
#main aside.knowledge a.stub.missing,
#main div.knowledge a.stub.missing,
body.knowledge #main aside.info a.stub.missing,
body.knowledge div.info a.stub.missing {
  background: #ffd300;
  color: #cd0074;
}
#main aside.knowledge .MathJax,
#main div.knowledge .MathJax,
body.knowledge #main aside.info .MathJax,
body.knowledge div.info .MathJax {
  color: #fff !important;
}
body.rant {
  background: #f00;
  color: #000;
}
body.rant ::selection {
  background-color: #ff7373;
  color: #000;
}
body.rant div.cap {
  background: #f00;
  color: #000;
}
body.rant #header h1 a {
  color: #000;
}
body.rant #header h1 a:visited,
body.rant #header h1 a:active,
body.rant #header h1 a:hover {
  color: #000;
}
body.rant #header .definition {
  color: #a60000;
}
body.rant #header .definition li {
  color: #000;
}
body.rant #header .pronunciation {
  color: #a60000;
}
body.rant div.content article a {
  color: #f00;
}
body.rant div.content article a:active {
  color: #ff4040;
}
body.rant div.content article a:visited {
  color: #a60000;
}
body.rant div.content article a:hover {
  color: #f00;
}
body.rant div.content article a.stub {
  color: #ffd300;
}
body.rant div.content article a.stub:visited {
  color: #a68900;
}
body.rant div.content article a.stub.missing {
  background: #ffd300;
  color: #f00;
}
body.rant div.nav h1,
body.rant div.nav h2,
body.rant div.nav h3,
body.rant div.nav h4,
body.rant div.nav h5,
body.rant div.nav h6 {
  color: #a60000;
}
body.rant div.nav aside {
  background: #f00;
  border-color: #a60000;
  color: #000;
}
body.rant div.nav a {
  color: #a68900;
}
body.rant div.nav a:active {
  color: #ffd300;
}
body.rant div.nav a:visited {
  color: #a60000;
}
body.rant footer h1.logo a,
body.rant footer a.author {
  color: #a60000;
}
span.rant,
strong.rant,
em.rant {
  color: #f00;
}
body.rant span.info,
body.rant strong.info,
body.rant em.info {
  color: #f00;
}
#main aside.rant,
#main div.rant,
body.rant #main aside.info,
body.rant div.info {
  background: #f00;
  border-color: #a60000;
  color: #000;
}
#main aside.rant h1,
#main div.rant h1,
body.rant #main aside.info h1,
body.rant div.info h1,
#main aside.rant h2,
#main div.rant h2,
body.rant #main aside.info h2,
body.rant div.info h2,
#main aside.rant h3,
#main div.rant h3,
body.rant #main aside.info h3,
body.rant div.info h3,
#main aside.rant h4,
#main div.rant h4,
body.rant #main aside.info h4,
body.rant div.info h4,
#main aside.rant h5,
#main div.rant h5,
body.rant #main aside.info h5,
body.rant div.info h5,
#main aside.rant h6,
#main div.rant h6,
body.rant #main aside.info h6,
body.rant div.info h6 {
  color: #a68900;
}
#main aside.rant a,
#main div.rant a,
body.rant #main aside.info a,
body.rant div.info a {
  color: #ffd300;
  text-shadow: 1px 1px 1px #ff4040;
}
#main aside.rant a:visited,
#main div.rant a:visited,
body.rant #main aside.info a:visited,
body.rant div.info a:visited {
  color: #000;
}
#main aside.rant a.stub,
#main div.rant a.stub,
body.rant #main aside.info a.stub,
body.rant div.info a.stub {
  color: #a60000;
}
#main aside.rant a.stub.missing,
#main div.rant a.stub.missing,
body.rant #main aside.info a.stub.missing,
body.rant div.info a.stub.missing {
  background: #ffd300;
  color: #f00;
}
#main aside.rant .MathJax,
#main div.rant .MathJax,
body.rant #main aside.info .MathJax,
body.rant div.info .MathJax {
  color: #000 !important;
}
body.stub {
  background: #ff7400;
  color: #000;
}
body.stub ::selection {
  background-color: #ffb273;
  color: #000;
}
body.stub div.cap {
  background: #ff7400;
  color: #000;
}
body.stub #header h1 a {
  color: #000;
}
body.stub #header h1 a:visited,
body.stub #header h1 a:active,
body.stub #header h1 a:hover {
  color: #000;
}
body.stub #header .definition {
  color: #a64b00;
}
body.stub #header .definition li {
  color: #000;
}
body.stub #header .pronunciation {
  color: #a64b00;
}
body.stub div.content article a {
  color: #ff7400;
}
body.stub div.content article a:active {
  color: #ff9640;
}
body.stub div.content article a:visited {
  color: #a64b00;
}
body.stub div.content article a:hover {
  color: #ff7400;
}
body.stub div.content article a.stub {
  color: #099;
}
body.stub div.content article a.stub:visited {
  color: #006363;
}
body.stub div.content article a.stub.missing {
  background: #099;
  color: #ff7400;
}
body.stub div.nav h1,
body.stub div.nav h2,
body.stub div.nav h3,
body.stub div.nav h4,
body.stub div.nav h5,
body.stub div.nav h6 {
  color: #a64b00;
}
body.stub div.nav aside {
  background: #ff7400;
  border-color: #a64b00;
  color: #000;
}
body.stub div.nav a {
  color: #006363;
}
body.stub div.nav a:active {
  color: #099;
}
body.stub div.nav a:visited {
  color: #a64b00;
}
body.stub footer h1.logo a,
body.stub footer a.author {
  color: #a64b00;
}
span.stub,
strong.stub,
em.stub {
  color: #ff7400;
}
body.stub span.info,
body.stub strong.info,
body.stub em.info {
  color: #ff7400;
}
#main aside.stub,
#main div.stub,
body.stub #main aside.info,
body.stub div.info {
  background: #ff7400;
  border-color: #a64b00;
  color: #000;
}
#main aside.stub h1,
#main div.stub h1,
body.stub #main aside.info h1,
body.stub div.info h1,
#main aside.stub h2,
#main div.stub h2,
body.stub #main aside.info h2,
body.stub div.info h2,
#main aside.stub h3,
#main div.stub h3,
body.stub #main aside.info h3,
body.stub div.info h3,
#main aside.stub h4,
#main div.stub h4,
body.stub #main aside.info h4,
body.stub div.info h4,
#main aside.stub h5,
#main div.stub h5,
body.stub #main aside.info h5,
body.stub div.info h5,
#main aside.stub h6,
#main div.stub h6,
body.stub #main aside.info h6,
body.stub div.info h6 {
  color: #006363;
}
#main aside.stub a,
#main div.stub a,
body.stub #main aside.info a,
body.stub div.info a {
  color: #099;
  text-shadow: 1px 1px 1px #ff9640;
}
#main aside.stub a:visited,
#main div.stub a:visited,
body.stub #main aside.info a:visited,
body.stub div.info a:visited {
  color: #000;
}
#main aside.stub a.stub,
#main div.stub a.stub,
body.stub #main aside.info a.stub,
body.stub div.info a.stub {
  color: #a64b00;
}
#main aside.stub a.stub.missing,
#main div.stub a.stub.missing,
body.stub #main aside.info a.stub.missing,
body.stub div.info a.stub.missing {
  background: #099;
  color: #ff7400;
}
#main aside.stub .MathJax,
#main div.stub .MathJax,
body.stub #main aside.info .MathJax,
body.stub div.info .MathJax {
  color: #000 !important;
}
body.caution {
  background: #ff0;
  color: #000;
}
body.caution ::selection {
  background-color: #ffff73;
  color: #000;
}
body.caution div.cap {
  background: #ff0;
  color: #000;
}
body.caution #header h1 a {
  color: #000;
}
body.caution #header h1 a:visited,
body.caution #header h1 a:active,
body.caution #header h1 a:hover {
  color: #000;
}
body.caution #header .definition {
  color: #a6a600;
}
body.caution #header .definition li {
  color: #000;
}
body.caution #header .pronunciation {
  color: #a6a600;
}
body.caution div.content article a {
  color: #ff0;
}
body.caution div.content article a:active {
  color: #ffff40;
}
body.caution div.content article a:visited {
  color: #a6a600;
}
body.caution div.content article a:hover {
  color: #ff0;
}
body.caution div.content article a.stub {
  color: #3914af;
}
body.caution div.content article a.stub:visited {
  color: #200772;
}
body.caution div.content article a.stub.missing {
  background: #3914af;
  color: #ff0;
}
body.caution div.nav h1,
body.caution div.nav h2,
body.caution div.nav h3,
body.caution div.nav h4,
body.caution div.nav h5,
body.caution div.nav h6 {
  color: #a6a600;
}
body.caution div.nav aside {
  background: #ff0;
  border-color: #a6a600;
  color: #000;
}
body.caution div.nav a {
  color: #200772;
}
body.caution div.nav a:active {
  color: #3914af;
}
body.caution div.nav a:visited {
  color: #a6a600;
}
body.caution footer h1.logo a,
body.caution footer a.author {
  color: #a6a600;
}
span.caution,
strong.caution,
em.caution {
  color: #ff0;
}
body.caution span.info,
body.caution strong.info,
body.caution em.info {
  color: #ff0;
}
#main aside.caution,
#main div.caution,
body.caution #main aside.info,
body.caution div.info {
  background: #ff0;
  border-color: #a6a600;
  color: #000;
}
#main aside.caution h1,
#main div.caution h1,
body.caution #main aside.info h1,
body.caution div.info h1,
#main aside.caution h2,
#main div.caution h2,
body.caution #main aside.info h2,
body.caution div.info h2,
#main aside.caution h3,
#main div.caution h3,
body.caution #main aside.info h3,
body.caution div.info h3,
#main aside.caution h4,
#main div.caution h4,
body.caution #main aside.info h4,
body.caution div.info h4,
#main aside.caution h5,
#main div.caution h5,
body.caution #main aside.info h5,
body.caution div.info h5,
#main aside.caution h6,
#main div.caution h6,
body.caution #main aside.info h6,
body.caution div.info h6 {
  color: #200772;
}
#main aside.caution a,
#main div.caution a,
body.caution #main aside.info a,
body.caution div.info a {
  color: #3914af;
  text-shadow: 1px 1px 1px #ffff40;
}
#main aside.caution a:visited,
#main div.caution a:visited,
body.caution #main aside.info a:visited,
body.caution div.info a:visited {
  color: #000;
}
#main aside.caution a.stub,
#main div.caution a.stub,
body.caution #main aside.info a.stub,
body.caution div.info a.stub {
  color: #a6a600;
}
#main aside.caution a.stub.missing,
#main div.caution a.stub.missing,
body.caution #main aside.info a.stub.missing,
body.caution div.info a.stub.missing {
  background: #3914af;
  color: #ff0;
}
#main aside.caution .MathJax,
#main div.caution .MathJax,
body.caution #main aside.info .MathJax,
body.caution div.info .MathJax {
  color: #000 !important;
}
body.define {
  background: #0c0;
  color: #000;
}
body.define ::selection {
  background-color: #67e667;
  color: #000;
}
body.define div.cap {
  background: #0c0;
  color: #000;
}
body.define #header h1 a {
  color: #000;
}
body.define #header h1 a:visited,
body.define #header h1 a:active,
body.define #header h1 a:hover {
  color: #000;
}
body.define #header .definition {
  color: #008500;
}
body.define #header .definition li {
  color: #000;
}
body.define #header .pronunciation {
  color: #008500;
}
body.define div.content article a {
  color: #0c0;
}
body.define div.content article a:active {
  color: #39e639;
}
body.define div.content article a:visited {
  color: #008500;
}
body.define div.content article a:hover {
  color: #0c0;
}
body.define div.content article a.stub {
  color: #7109aa;
}
body.define div.content article a.stub:visited {
  color: #48036f;
}
body.define div.content article a.stub.missing {
  background: #7109aa;
  color: #0c0;
}
body.define div.nav h1,
body.define div.nav h2,
body.define div.nav h3,
body.define div.nav h4,
body.define div.nav h5,
body.define div.nav h6 {
  color: #008500;
}
body.define div.nav aside {
  background: #0c0;
  border-color: #008500;
  color: #000;
}
body.define div.nav a {
  color: #48036f;
}
body.define div.nav a:active {
  color: #7109aa;
}
body.define div.nav a:visited {
  color: #008500;
}
body.define footer h1.logo a,
body.define footer a.author {
  color: #008500;
}
span.define,
strong.define,
em.define {
  color: #0c0;
}
body.define span.info,
body.define strong.info,
body.define em.info {
  color: #0c0;
}
#main aside.define,
#main div.define,
body.define #main aside.info,
body.define div.info {
  background: #0c0;
  border-color: #008500;
  color: #000;
}
#main aside.define h1,
#main div.define h1,
body.define #main aside.info h1,
body.define div.info h1,
#main aside.define h2,
#main div.define h2,
body.define #main aside.info h2,
body.define div.info h2,
#main aside.define h3,
#main div.define h3,
body.define #main aside.info h3,
body.define div.info h3,
#main aside.define h4,
#main div.define h4,
body.define #main aside.info h4,
body.define div.info h4,
#main aside.define h5,
#main div.define h5,
body.define #main aside.info h5,
body.define div.info h5,
#main aside.define h6,
#main div.define h6,
body.define #main aside.info h6,
body.define div.info h6 {
  color: #48036f;
}
#main aside.define a,
#main div.define a,
body.define #main aside.info a,
body.define div.info a {
  color: #7109aa;
  text-shadow: 1px 1px 1px #39e639;
}
#main aside.define a:visited,
#main div.define a:visited,
body.define #main aside.info a:visited,
body.define div.info a:visited {
  color: #000;
}
#main aside.define a.stub,
#main div.define a.stub,
body.define #main aside.info a.stub,
body.define div.info a.stub {
  color: #008500;
}
#main aside.define a.stub.missing,
#main div.define a.stub.missing,
body.define #main aside.info a.stub.missing,
body.define div.info a.stub.missing {
  background: #7109aa;
  color: #0c0;
}
#main aside.define .MathJax,
#main div.define .MathJax,
body.define #main aside.info .MathJax,
body.define div.info .MathJax {
  color: #000 !important;
}
body.computer {
  background: #002b36;
  color: #839496;
}
body.computer ::selection {
  background-color: #268bd2;
  color: #839496;
}
body.computer div.cap {
  background: #002b36;
  color: #839496;
}
body.computer #header h1 a {
  color: #839496;
}
body.computer #header h1 a:visited,
body.computer #header h1 a:active,
body.computer #header h1 a:hover {
  color: #839496;
}
body.computer #header .definition {
  color: #268bd2;
}
body.computer #header .definition li {
  color: #839496;
}
body.computer #header .pronunciation {
  color: #586e75;
}
body.computer div.content article a {
  color: #002b36;
}
body.computer div.content article a:active {
  color: #2aa198;
}
body.computer div.content article a:visited {
  color: #586e75;
}
body.computer div.content article a:hover {
  color: #002b36;
}
body.computer div.content article a.stub {
  color: #dc322f;
}
body.computer div.content article a.stub:visited {
  color: #93a1a1;
}
body.computer div.content article a.stub.missing {
  background: #dc322f;
  color: #002b36;
}
body.computer div.nav h1,
body.computer div.nav h2,
body.computer div.nav h3,
body.computer div.nav h4,
body.computer div.nav h5,
body.computer div.nav h6 {
  color: #586e75;
}
body.computer div.nav aside {
  background: #002b36;
  border-color: #586e75;
  color: #839496;
}
body.computer div.nav a {
  color: #2aa198;
}
body.computer div.nav a:active {
  color: #dc322f;
}
body.computer div.nav a:visited {
  color: #268bd2;
}
body.computer footer h1.logo a,
body.computer footer a.author {
  color: #586e75;
}
span.computer,
strong.computer,
em.computer {
  color: #002b36;
}
body.computer span.info,
body.computer strong.info,
body.computer em.info {
  color: #002b36;
}
#main aside.computer,
#main div.computer,
body.computer #main aside.info,
body.computer div.info {
  background: #002b36;
  border-color: #586e75;
  color: #839496;
}
#main aside.computer h1,
#main div.computer h1,
body.computer #main aside.info h1,
body.computer div.info h1,
#main aside.computer h2,
#main div.computer h2,
body.computer #main aside.info h2,
body.computer div.info h2,
#main aside.computer h3,
#main div.computer h3,
body.computer #main aside.info h3,
body.computer div.info h3,
#main aside.computer h4,
#main div.computer h4,
body.computer #main aside.info h4,
body.computer div.info h4,
#main aside.computer h5,
#main div.computer h5,
body.computer #main aside.info h5,
body.computer div.info h5,
#main aside.computer h6,
#main div.computer h6,
body.computer #main aside.info h6,
body.computer div.info h6 {
  color: #2aa198;
}
#main aside.computer a,
#main div.computer a,
body.computer #main aside.info a,
body.computer div.info a {
  color: #dc322f;
  text-shadow: 1px 1px 1px #586e75;
}
#main aside.computer a:visited,
#main div.computer a:visited,
body.computer #main aside.info a:visited,
body.computer div.info a:visited {
  color: #839496;
}
#main aside.computer a.stub,
#main div.computer a.stub,
body.computer #main aside.info a.stub,
body.computer div.info a.stub {
  color: #268bd2;
}
#main aside.computer a.stub.missing,
#main div.computer a.stub.missing,
body.computer #main aside.info a.stub.missing,
body.computer div.info a.stub.missing {
  background: #dc322f;
  color: #002b36;
}
#main aside.computer .MathJax,
#main div.computer .MathJax,
body.computer #main aside.info .MathJax,
body.computer div.info .MathJax {
  color: #839496 !important;
}
body.rant #header h1.title a {
  color: #fff;
}
span.caution,
strong.caution,
em.caution {
  color: #a6a600;
}
span.computer,
strong.computer,
em.computer,
body.computer span.info,
body.computer strong.info,
body.computer em.info,
#main aside.computer,
#main div.computer,
body.computer #main aside.info,
body.computer div.info,
body.computer div.nav aside a,
body.computer div.nav h3,
body.computer #header .definition,
body.computer #main article > p a {
  font-family: 'PT Mono', monospace;
}
body.computer #main article > p a {
  color: #2aa198;
}
body.computer #main article > p a.stub {
  color: #dc322f;
}
body.computer #main article > p a.stub:visited {
  color: #d33682;
}
body.computer #main article > p a:visited {
  color: #268bd2;
}
body #main aside.computer a,
body #main div.computer a,
html body.computer #main aside.info a,
html body.computer div.info a {
  text-shadow: 1px 1px 1px #002b36;
}
body.simplifience div.content article a.stub {
  color: #a64b00;
}
aside.define em:first-of-type:after {
  content: "\a";
  white-space: pre;
}
.ie7 #title {
  padding-top: 20px;
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
html,
body {
  font: 14px/20px 'Ubuntu', arial, sans-serif;
  margin: 0;
  padding: 0;
}
::selection {
  text-shadow: none;
}
.wrapper {
  width: 90%;
  margin: 0 5%;
}
div.content {
  color: #000;
  background: #fff;
}
div.cap {
  text-align: center;
}
div.cap h1 {
  font-family: 'Sonsie One', serif;
  font-weight: normal;
  font-size: 30.800000000000004px;
}
div.cap h1.title {
  float: left;
}
div.cap h1 a {
  text-decoration: none;
}
div.cap .definition {
  display: inline-block;
  padding-bottom: 20px;
  text-align: left;
}
div.cap .definition .pronunciation {
  font-family: boring;
  padding-left: 1ex;
}
div.cap .definition ol {
  margin: 0;
  padding: 0;
  padding-left: 1ex;
  display: inline;
}
div.cap .definition li {
  display: inline;
}
div.cap footer {
  overflow: auto;
  text-align: left;
  box-sizing: border-box;
  padding-bottom: 20px;
}
div.cap footer aside {
  float: left;
}
div.cap footer h1.logo,
div.cap footer a.author {
  float: right;
  clear: right;
}
div.cap footer h1.logo {
  font-size: 35px;
  margin-bottom: 0;
}
div.cap footer a.author {
  display: block;
  margin-top: 7px;
}
div.cap footer a.author,
div.cap footer .logo a {
  opacity: 0.4;
  text-decoration: none;
}
div.cap footer a.author:hover,
div.cap footer .logo a:hover {
  opacity: 1;
}
#main {
  padding: 30px 0;
}
#main article {
  clear: both;
  margin-bottom: 20px;
}
#main article h1 {
  font-size: 28px;
}
#main article ul,
#main article ol {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 2.5em;
  padding-right: 1em;
  box-sizing: border-box;
}
#main article blockquote {
  box-sizing: border-box;
  font-style: italic;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
}
#main article p.number {
  font-size: 10em;
  line-height: 2em;
  text-align: center;
}
#main article p.stylized {
  font-family: exciting;
  font-size: 10em;
  line-height: 2em;
  text-align: center;
}
#main img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
#main article a {
  text-decoration: underline;
}
#main article a:hover {
  text-decoration: none;
}
iframe {
  border: 0;
  margin-bottom: 20px;
}
p {
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
aside,
div.main,
div.rules,
div.rigor,
div.simplifience,
div.knowledge,
div.stub,
div.rant,
div.caution,
div.define,
div.computer {
  padding: 10px 20px;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 20px;
  overflow: auto;
}
aside p:last-child,
div.main p:last-child,
div.rules p:last-child,
div.rigor p:last-child,
div.simplifience p:last-child,
div.knowledge p:last-child,
div.stub p:last-child,
div.rant p:last-child,
div.caution p:last-child,
div.define p:last-child,
div.computer p:last-child {
  margin-bottom: 0;
}
aside ul,
div.main ul,
div.rules ul,
div.rigor ul,
div.simplifience ul,
div.knowledge ul,
div.stub ul,
div.rant ul,
div.caution ul,
div.define ul,
div.computer ul,
aside ol,
div.main ol,
div.rules ol,
div.rigor ol,
div.simplifience ol,
div.knowledge ol,
div.stub ol,
div.rant ol,
div.caution ol,
div.define ol,
div.computer ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.nav {
  text-align: right;
}
div.nav h3 {
  margin: 0;
  font-size: 14px;
  opacity: 0.2;
}
div.nav div.block:hover h3 {
  opacity: 1;
}
div.nav ul,
div.nav ol {
  font-family: 'Marko One', serif;
  text-align: left;
}
div.nav a {
  font-size: 16.8px;
  line-height: 24px;
  text-decoration: none;
}
div.nav a:hover {
  text-decoration: underline;
}
hr.mark {
  clear: both;
  background: none;
  border: none;
}
#stub {
  margin-bottom: 20px;
}
@media only screen {
  div.cap .definition {
    display: none;
  }
  div.side-reference {
    display: none;
  }
}
@media only screen and (min-width: 480px) {
  #main img {
    max-width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  div.cap .definition {
    display: inline-block;
  }
  #main > #article-container,
  #main > article > :not(aside) {
    box-sizing: border-box;
    clear: left;
    display: inline-block;
    float: left;
    width: 57%;
  }
  #aside-container,
  #main > article > aside {
    float: right;
    clear: right;
    width: 28%;
  }
  div.side-reference {
    display: block;
  }
}
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px;
/* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
